<p>ここはtoppages/index.html.erb</p>

<% if logged_in? %>
   <div class="text-center">
    <p>ログイン完了ユーザ: <%= current_user.name %></p>
    
    <h1>Welcome to Tasklist</h1>
    <%= link_to "tasklist", tasks_path, class: "btn btn-lg btn-primary" %>
   </div>
  
<% else %>
  <div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to Tasklist</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>
